<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @media screen and (max-width:320px){
            .container{
                margin-top: 0 !important;
            }
            .image{
                padding: 30px 0 !important;
            }
            .message-container{
                padding: 20px 5px !important;
            }
            .message-container h2{
                margin: 0 !important;
            }
            .message{
                margin-bottom: 50px !important;
            }
            .first-message{
                font-size: 14px !important;
            }
            .second-message{
                /* margin: 50px 0 0 0 !important; */
                font-size: 14px !important;

            }
        }
        @media screen and (max-width:375px){
            .container{
                margin-top: 0 !important;
            }
            .image{
                padding: 30px 0 !important;
            }
            .message-container{
                padding: 20px 5px !important;
            }
            .message-container h2{
                margin: 0 !important;
            }
            .message{
                margin-bottom: 50px !important;
            }
            .first-message{
                font-size: 14px !important;
            }
            .second-message{
                /* margin: 50px 0 0 0 !important; */
                font-size: 14px !important;
            }
        }
        @media screen and (max-width:425px){
            .container{
                margin-top: 0 !important;
            }
            .image{
                padding: 30px 0 !important;
            }
            .message-container{
                padding: 20px 5px !important;
            }
            .message-container h2{
                margin: 0 !important;
            }
            .message{
                margin-bottom: 50px !important;
            }
            .first-message{
                font-size: 14px !important;
            }
            .second-message{
                /* margin: 50px 0 0 0 !important; */
                font-size: 14px !important;
            }
        }
    </style>
</head>
<body style="margin: 0;padding: 0; box-sizing: border-box; display: flex; justify-content: center; background-color: lightgrey;">
    <div class="container" style="background-color: white; margin-top: 20px; display: flex; flex-direction: column;align-items: center;">
         <div class="image" style="border-bottom: 10px solid lightgrey; width: 100%;padding: 30px; text-align: center;">
            <img src="./logo.jpg" style="width: 250px; height: 60px; margin: 0 auto;" alt="logo">
        </div>
        <div class="message-container" style="padding: 30px; text-align: center;">
            <h2 style="font-weight: 500;">Successful Delivery</h2>
            <div class="message" style="text-align: left; color: grey;">
                <p class="first-message">
                    You have successfully completed your delivery and funds have been deposited into<br>
                    your wallet
                </p>
            </div>
            <div style="color: grey;">
                <p>Got any question?</p>
                <p>
                    Visit our <a href="" style="color: green;">contact us</a> page or send us a mail at
                </p>
                <a href="" style="color: green;">support@cargodealerinc.com</a>
                <div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>