<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome </title>
    <style>
        @media screen and (max-width:320px){
            .email-template{
                width: 100% !important;
            }
            .greeting-message-container h5,.greeting {
                padding: 0 10px !important;
                font-size: 20px !important;
            }
            .greeting-message{
                width: 100% !important;
                font-size: 15px !important;
            }
            .question-container{
                margin-top: 0 !important;
            }
            .question-container h5{
                padding: 0 !important;
                padding: 0 10px !important;
                font-size: 20px !important;
            }
            .question{
                padding: 0 !important;
                padding: 0 10px !important;
            }
            .question p{
                font-size: 17px !important;
            }
        }
        @media screen and (max-width:375px){
            .email-template{
                width: 100% !important;
            }
            .greeting-message-container h5,.greeting {
                padding: 0 10px !important;
                font-size: 20px !important;
            }
            .greeting-message{
                width: 100% !important;
                font-size: 15px !important;
            }
            .question-container{
                margin-top: 0 !important;
            }
            .question-container h5{
                padding: 0 !important;
                padding: 0 10px !important;
                font-size: 20px !important;
            }
            .question{
                padding: 0 !important;
                padding: 0 10px !important;
            }
            .question p{
                font-size: 17px !important;
            }
        }
        @media screen and (max-width:425px){
            .email-template{
                width: 100% !important;
            }
            .greeting-message-container h5,.greeting {
                padding: 0 10px !important;
                font-size: 20px !important;
            }
            .greeting-message{
                width: 100% !important;
                font-size: 15px !important;
            }
            .question-container{
                margin-top: 0 !important;
            }
            .question-container h5{
                padding: 0 !important;
                padding: 0 10px !important;
                font-size: 20px !important;
            }
            .question{
                padding: 0 !important;
                padding: 0 10px !important;
            }
            .question p{
                font-size: 17px !important;
            }
        }
    </style>
</head>
<body style="background-color: lightgray; width: 100%;height: 100%; margin: 0; display: flex; flex-direction: column; align-items: center;">
    <div class="email-template" style="display: flex; flex-direction: column; align-items: center; width: 850px; height: 800px;  background-color: white; margin: 0 7rem;">
        <h3 style=" text-align: center; font-size: 30px;">Welcome</h3>
        <div class="greeting-message-container" style="width: 100%; margin-top: 3rem;">
            <h5 style="padding: 0 5rem; font-size: 21px;">Hello {{name}},</h5>
            <div class="greeting" style="padding: 0 5rem;">
                <p class="greeting-message" style="width: 670px; font-size: 22px;">Thanks for joining. We're really excited to have you on board.<br/>

                </p>
                <div style="text-align: center; margin-top: 4rem;">
                    <button type="button" style=" cursor: pointer; padding: 12px 20px; background-color: rgb(50, 141, 237); text-transform: uppercase; color: white; border: none;" >Login To Your Account</button>
                </div>
            </div>
        </div>
        <div style="width: 100%; margin-top: 5rem;" class="question-container" >
            <h5 style="padding: 0 5rem; font-size: 21px;">Have a question?</h5>
            <div class="question" style="padding: 0 5rem; margin-bottom: 0;">
                
                <p style="font-size: 22px;">You can always contact our <a href="" style="color: rgb(50, 141, 237);">24/7 support team</a> via live chat and email. We will be happy to help you!</p>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin: 30px 0;">
        <p style="color: gray; margin: 30px 0;">
            © 2023 Cargodealer, inc. All rights reserved.
        </p>
        <p style="color: gray; margin: 30px 0;">
            123 ikeja Street, Lagos Nigeria, OR, 87466 US. (123) 456-7890
        </p>
    
    </div>
</body>
</html>

